*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image:url(images/pexels-liliana-drew-8554351.jpg);
    background-position: center;
    background-size:cover ;
    background-repeat: no-repeat;
    width: 100vh;
}
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  
    
}
.container h1{
    margin-top: 10px;
   margin-bottom: 10px; 
   color: white;   
}

#count-el{
    margin-left: 90px;
    margin-bottom: 20px;
    color: white;
}
#exited-le{
    margin-left: 90px;
    margin-bottom: 20px;
    color: white;
}

#save-el{
    font-size: 20px;
    font-weight: bold;
    margin-left: 15px;
    margin-top: 10px;
    color: white;
}
#save-le{
    font-size: 20px;
    font-weight: bold;
    margin-left: 15px;
    margin-top: 10px;
    color: white;
}

#increment-btn{
    background-color:transparent;
    border: white solid;
    height: 100px;
    width: 100px;
    color: white;
    border-radius: 50%;
    font-weight: bold;
    cursor: pointer;
    font-weight: 800;
    margin-left: 50px;
    box-shadow: 5px 5px 8px #888888;
}


#decrement-btn{
    background-color: transparent;
    border: white solid;
    height: 100px;
    width: 100px;
    color: white;
    border-radius: 50%;
    font-weight: 800;
    cursor: pointer;
    margin-left: 50px;
    box-shadow: 5px 5px 8px #888888;

}

#save-btn{
    background-color:blue;
    border: white solid;
    height: 70px;
    width: 70px;
    color: white;
    border-radius: 50%;
    font-weight: 600;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 66px;
    box-shadow: 5px 5px 8px #888888;
}

#saveDE-btn{
    background-color:rgb(1, 1, 104);
    border: white solid;
    height: 70px;
    width: 70px;
    color: white;
    border-radius: 50%;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 66px;
    font-weight: 600;
    box-shadow: 5px 5px 8px #888888;
}

@media screen and (max-width: 576px){
    body{
         height: 100vh; 
    }

    .container h1{
        font-size: 25px;
        color: white;
        margin-left: 10px;
    }
 
    #decrement-btn{
        border: solid black;
    }

    #increment-btn{
        border: solid black;
    }
}

